<!DOCTYPE html>
<thead>
    <tr>
        <% _.each(colNames, function (name) { %>
            <th><%= name %></th>
        <% }); %>
    </tr>
</thead>
<tbody>
    <% _.each(gfiContent, function (obj) { %>
        <tr>
            <% _.each(obj, function (value) { %>
                <% if (value !== "") { %>
                    <th><%= value %></th>
                <% } else { %>
                    <th>---</th>
                <% } %>
            <% }); %>
        </tr>
    <% }); %>
</tbody>
