<!DOCTYPE html>
<a href="<%= logoLink %> " target="_blank" data-toggle="tooltip" data-placement="bottom" title="<%= logoTooltip %>">
    <% if (logo !== "") { %>
        <img src="<%= logo %>">
    <% } %>
</a>
<span>
    <%= title %>
</span>
