#searchMarker {
    top: 3px;
    left: 7px;
    color: rgb(182, 0, 0);
    font-size: 38px;
    display: none;
}

#searchMarker > .glyphicon {
    top: -38px;
    left: -2px;
    font-size: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(182, 0, 0);
    padding: 3px;
}

.featureMarker {
    width: 40px;
    height: 40px;
    background-color: rgba(182, 0, 0, 0);
}

.featureMarker > img {
    position:relative;
    width: 100%;
    height: 100%;
}
